@{
    ViewBag.Title = "ChatHub Mensagem";
    Layout = null;
}
<label for="mensagem">Mensagem:</label><input type="text" name="mensagem" id="mensagem" maxlength="100" />
<div id="chatWindow" style="width: 100%; height: 300px; overflow: scroll; border: 1px solid grey"></div>

<link href="~/Content/chat/Site.css" rel="stylesheet" />

<link href="~/Content/chat/themes/base/jquery.ui.core.css" rel="stylesheet" />
<link href="~/Content/chat/themes/base/jquery.ui.resizable.css" rel="stylesheet" />
<link href="~/Content/chat/themes/base/jquery.ui.selectable.css" rel="stylesheet" />
<link href="~/Content/chat/themes/base/jquery.ui.accordion.css" rel="stylesheet" />
<link href="~/Content/chat/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" />
<link href="~/Content/chat/themes/base/jquery.ui.button.css" rel="stylesheet" />
<link href="~/Content/chat/themes/base/jquery.ui.dialog.css" rel="stylesheet" />
<link href="~/Content/chat/themes/base/jquery.ui.slider.css" rel="stylesheet" />
<link href="~/Content/chat/themes/base/jquery.ui.tabs.css" rel="stylesheet" />
<link href="~/Content/chat/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />
<link href="~/Content/chat/themes/base/jquery.ui.progressbar.css" rel="stylesheet" />
<link href="~/Content/chat/themes/base/jquery.ui.theme.css" rel="stylesheet" />


<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>

<!-- Referencia para o script de Hub criado automaticamente -->
<script src="/signalr/hubs" type="text/javascript"></script>




<script type="text/javascript">
    $(function () {
        // Declarando um proxy de referencia ao Hub
        var chatHub = $.connection.chatHub;

        // Criando a função que será chamada pelo Hub para distribuir as mensagens aos clientes.
        // Por convenção as chamadas aos métodos são feitas em "camelCase"
        //chatHub.client.publicarMensagem = function (apelido, msg) {
        chatHub.client.publicarMensagem = function (msg) {

            let apelido = "Web";
            // Area do chat
            var chatWin = $("#chatWindow");

            // Publicando a mensagem no chat
            chatWin.html(chatWin.html() + "<b>" + apelido + "</b>: " + msg + "<br />");
        };

        // Iniciando a conexão com o Hub
        $.connection.hub.start();

        // Validando o botão enter
        $(document).keypress(function (e) {
            if (e.which == 13) {

                let apelido = "Ariane";

                // Chamando o método de transmissão de mensagem no Hub
                chatHub.server.enviarMensagem(apelido, $("#mensagem").val());

                // Limpando o texto da mensagem.
                $("#mensagem").val("");
            }
        });
    });
    

</script>